<!-- Generated template for the HomeComponent component -->
<header>
  <div id="navbar">
    <div class="kunderLogo">
    </div>
    <div id="buttons">
      <button ion-button icon-only clear class="menuButton"></button>
    </div>
  </div>
</header>
<div no-padding scroll="false" class="home">
  <app-banner></app-banner>
  <div class="header">
  </div>
  <div class="buttons">
    <button class="buttonsHome buttonConsumo">
      <span>Consumo</span>
    </button>
    <button class="buttonsHome buttonPlan">
      <span>Mi Plan</span>
    </button>
    <button class="buttonsHome buttonBolsas">
      <span>Mis bolsas</span>
    </button>
    <button class="buttonsHome buttonBeneficios">
      <span>Beneficios</span>
    </button>
  </div>
</div>
<footer class="informationFooter">
  <a class="shuffleLeft">Sucursales</a>
  <a class="shuffleRight">Consultas</a>
</footer>
